//Fonts
$main-font: 'Nanum Gothic', serif;
$header-font: 'Nanum Gothic', sans-serif;
$title-font: 'Lobster', cursivej;

//Screen sizes
$mobile-large: 600px;
$tablet: 768px;
$desktop-small: 1024px;
$desktop-large: 1440px;

//Colors
$gray-30: rgba(0,0,0,.30);
$gray-85: rgba(0,0,0,.85);
$teal: #4DD0E1;