// Variables
@import "variables";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Dosis');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

*:focus {
  outline: none;
}

body {
  font-family: $main-font;
  margin: 0;
}

html,
body,
#app,
#app-container {
  height: 100%;
}

button {
  cursor: pointer;
}

#app-container {
  display: flex;
  flex-direction: column;

  header {
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.3);
    flex: none;
    font-family: $main-font;
    text-align: right;

    nav {
      display: inline-block;
      font-size: 12px;

      a {
        color: $gray-85;
        cursor: pointer;
        display: inline-block;
        padding: 13px 15px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  #app-content {
    flex: 1;
    overflow: hidden;
    position: relative;
  }

  form {
    display: block;
    margin: 0 auto;
    width: 100%;

    .form-field,
    button {
      &:not(:first-child) {
        margin-top: 8px;
      }
    }

    input,
    textarea,
    button {
      box-sizing: border-box;
      padding: 10px 25px;
      width: 100%;
    }

    .form-field-error {
      display: inline-block;
      color: red;
      font-size: 12px;
      margin-bottom: 3px;
    }

    button.save {
      background: #4CAF50;
      border: none;
      color: white;
    }

    button.danger {
      background: red;
      border: none;
      color: white;
    }
  }

  .auth-form {
    padding: 40px 40px;
    width: 300px;
  }

  .page-editor-settings {
    textarea {
      height: 150px;
    }
  }

}
