// Variables
@import "variables";

// Fonts
@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic|Lobster');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

*:focus {
  outline: none;
}

body {
  font-family: $main-font;
  margin: 0;
}

h1 {
  font-size: 32px;
}

li,
p {
  font-size: 18px;
  line-height: 30px;
  white-space: normal;
}

html,
body,
#app {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $header-font;
  font-weight: bold;
}

.blog-container {
  overflow: auto;
  min-width: 300px;
  position: relative;
}

.blog-header {
  box-sizing: border-box;
  text-align: center;
  padding: 16px;
  position: absolute;
  top:0;
  width: 100%;
  z-index: 10;

  .blog-header-title {
    color: black;
    font-family: $title-font;
    font-size: 2em;
    position: relative;
    text-decoration: none;
    z-index: 20;

    &:hover {
      color: $teal;
    }
  }

   > .social-icons {
    display: none;
    position: absolute;
    right: 16px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 20;

    @media screen and (min-width: $mobile-large){
      display: block;
    }

    @media screen and (min-width: $tablet) {
      right: 56px;
    }

    .social-icon {
      margin-left: 16px;

      @media screen and (min-width: $tablet) {
        margin-left: 32px;
      }
    }
  }
}

.blog-content {
  position: relative;

  .hero-image-container {
    padding: 0 16px 16px;
    position: relative;
    margin-top: 70px;
    height: calc(100vh - 86px);

    @media screen and (min-width: $tablet) {
      box-sizing: border-box;
      padding: 0 56px 56px;
      height: calc(100vh - 70px);
    }

    .hero-image {
      display: block;
      object-fit: cover;
      object-position: 50% 90%;
      height: 100%;
      width: 100%;
    }
  }

  .blog-samples {
    box-sizing: border-box;
    padding: 16px;
    width: 100%;

    @media screen and (min-width: $tablet) {
      padding: 0 56px 16px;
    }
  }
}

.blog-footer {
  font-family: $header-font;
  padding: 24px;
  position: relative;
  text-align: center;
  font-size: 24px;

  a {
    cursor: pointer;
    color: black;
    text-decoration: none;

    &:hover {
      color: $teal;
    }
  }

  nav {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    padding-right: 16px;

    @media screen and (min-width: $tablet) {
      padding-right: 56px;
    }

    a {
      font-size: 14px;
    }
  }
}

.blog-index {
  margin-top: 70px;
  width: 100%;

}

.blog-samples {
  box-sizing: border-box;

  grid-gap: 1em;
  padding: 16px;
  width: 100%;

  @media screen and (min-width: $tablet) {
    padding: 0 56px 16px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .blog-sample {
    cursor: pointer;
    display: block;
    overflow: hidden;
    position: relative;
    width: 100%;
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }

    @media screen and (min-width: $tablet) {
      margin-bottom: 0;
      height: 200px;
    }

    @media screen and (min-width: $desktop-small) {
      height: 250px;
    }

    @media screen and (min-width: $desktop-large) {
      height: 300px;
    }

    img {
      width: 100%;
      height: 100%;
      object-position: center;
      object-fit: cover;
    }

    .blog-sample-text {
      color: white;
      position: absolute;
      top: 25%;
      text-align: center;
      transform: translateY(-50%);
      transition: all .5s;
      width: 100%;

      h2 {
        padding: 0 15px;
        margin: 0;
      }
    }

    .gradient {
      background: linear-gradient(to top, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
      bottom: -100%;
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      transition: all .5s;

      &:hover {
        transform: translateY(-50%);

        .blog-sample-text {
          color: $teal;
          top: 75%
        }
      }
    }


  }
}

nav.blog-nav {
  font-family: $header-font;
  top: 0;
  left: 0;
  position: absolute;
  height: 70px;
  width: 100%;
  z-index: 12;

  .blog-nav-items-container {
    position: absolute;
    top: 70px;
    left: 0px;
    width: 100%;
    overflow: hidden;

    @media screen and (min-width: $mobile-large) {
      top: 0;
      height: 70px;
    }

    .blog-nav-items {
      display: block;
      background: white;
      width: 100%;
      transform: translateY(-100%);
      transition: transform .5s;

      @media screen and (min-width: $mobile-large) {
        position: absolute;
        transition: none;
        transform: translateY(-50%);
        top: 50%;
        margin-left: 16px;
        width: auto;
      }

      @media screen and (min-width: $tablet) {
        margin-left: 56px;
      }

      .blog-nav-item {
        display: block;
        padding: 16px 32px;
        text-align: center;
        color: black;
        text-decoration: none;
        outline: none;

        @media screen and (min-width: $mobile-large) {
          display: inline-block;
          margin-right: 16px;
          padding: 0;
        }

        &:hover,
        &.selected {
          color: $teal;
          font-weight: bold;
        }
      }

       .social-icons {
         @media screen and (min-width: $mobile-large) {
           display: none;
         }

         .social-icon {
           margin: 16px;
         }
       }
    }
  }

  .blog-nav-menu-toggle {
    box-sizing: border-box;
    top: 0;
    left: 0;
    position: absolute;
    padding: 10px;
    width: 100%;

    input {
      cursor: pointer;
      display: block;
      height: 50px;
      width: 50px;
      padding: 10px;
      position: absolute;
      opacity: 0;
      z-index: 2;
      margin: 0;

      @media screen and (min-width: $mobile-large) {
        display: none;
      }
    }

    input:checked {
      & ~ {
        .blog-nav-items-container {
          .blog-nav-items {
            transform: translateY(0);
          }
        }
      }

    }

    .blog-nav-menu-icon {
      margin: 9px;
      width: 36px;

      @media screen and (min-width: $mobile-large) {
        display: none;
      }

      > span {
        border-radius: 3px;
        display: block;
        background: black;
        height: 5px;
        margin: 8.5px 0;

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }
      }
    }
  }
}

.blog-policy,
.blog-about,
.blog-page {
  margin: 70px auto 0;
  padding: 16px;

  @media screen and (min-width: $tablet) {
    max-width: 700px;
    padding: 56px;
  }

  img {
    width: 100%;
  }
}

.blog-about {
  .blog-about-content {
    @media screen and (min-width: $tablet) {
      display: grid;
      grid-template-columns: 40% auto;
      grid-gap: 32px;
    }
  }
}

.blog-page {
  .blog-page-text {
    a {
      border-bottom: 1px solid $teal;
      color: $teal;
      text-decoration: none;

      &:hover {
        font-weight: bold;
      }
    }

    img {
      display: block;
      margin: 16px 0;

      @media screen and (min-width: $tablet) {
        margin: 32px 0;
      }
    }

    blockquote {
      border-left: 5px solid $teal;
      color: #707070;
      padding: 0 10px;

      :first-child {
        margin-top: 0;
      }

      :last-child {
        margin-bottom: 0;
      }
    }

    li {
      margin: 5px 0;
    }
  }

  .social-icons {
    @media screen and (min-width: $desktop-small) {
      position: fixed;
      top: 200px;
      left: 50%;
      transform: translateX(-432px);
    }

    .social-icon {
      margin-right: 16px;

      @media screen and (min-width: $desktop-small) {
        display: block;
        margin-bottom: 24px;
        margin-right: 0;
      }
    }
  }
}

.social-icons {
  .social-icon {
    color: black;
    cursor: pointer;
    font-size: 32px;
    text-decoration: none;
    opacity: .7;

    &:hover {
      opacity: 1;
      color: $teal;
    }
  }
}